canvas{
    width: 100%;
    background: white;
}
html { 
    overflow-y: hidden; 
    overflow-x: hidden;
}
h1{
    margin-left: 10px;
    color: coral;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: medium;
}
